body {
    --body-bg-color: #242424;
    background-color: var(--body-bg-color);
    color: #ccc;
}

header {
    --main-header-bg-color: #501c1c;
    background-color: var(--main-header-bg-color);
    padding: 15px;
}

main {
    padding: 15px;
    gap: 10px
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #eee;
}

h2 {
    margin-bottom: 10px;
    color: #eee;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

pre, code {
    display: block;

    font-family: Consolas, monospace;
    font-size: 14px;
    color: #aaa;

    padding: 10px 20px 10px 10px;

    border: solid 1px #666;
    border-radius: 3px;

    background-color: #242424;

    width: fit-content;
    min-width: 0;
    max-width: 100%;

	overflow:auto;
}

/* --------------------------------------------
  リスト
---------------------------------------------- */
ul.default-list, .default-list ul{
  list-style: disc;
}
ol.default-list, .default-list ol {
  list-style: decimal;
}
ul.default-list, ol.default-list {
    list-style-position: none;
    padding-left: 1.5em;

    li::marker {
        line-height: 1;
        font-size: 105%;
        font-weight: 700;
    }
}
.default-list li {
    margin-bottom: 15px;

    >ol, >ul {
        margin-left: 20px;
        li {
            margin-bottom: 5px;
        }
    }
}

/* --------------------------------------------
  基本
---------------------------------------------- */
.container {
    display: flex;
    flex-direction: row;
}

.content-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 100%;
}

side-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    flex: 0 0 200px;
    min-width: 0;
    width: 100%;
    overflow-y: auto;

    ul {
        flex: 1 1 auto;
    }

    li {
        display: flex;
        align-items: center;

        margin-bottom: 3px;
        line-height: 1;

        &::before {
            content: "";
            display: block;

            flex: 0 0 20px;
            height: 20px;

            background-image: var(--sideber-header-icon);
            background-size: cover;
        }

        &.item {
            --actibe-background-color: #444;
            --sideber-header-icon: url('./../../img/common/none.png');
            font-size: 14px;

            >a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 8px;

                &.active {
                    background-color: var(--actibe-background-color);
                }

                &:hover {
                    background-color: var(--actibe-background-color);
                }
            }
        }

        &.header {
            --sideber-header-icon: url('./../../img/tutorial/sidebar/baloon.png');
            font-size: 16px;
            font-weight: 700;
            color: #eee;

            margin-bottom: 10px;

            &::before {
                margin-right: 8px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            &.common {
                --sideber-header-icon: url('./../../img/tutorial/sidebar/baloon.png');
            }
        }
    }
}

main-content {
    flex: 1 1 auto;
    min-width: 0;
}
